		body {
			background-image: url(bg.png);
			font-family: Tahoma;
		}
		
		#frame {
			background-color: rgba(255,200,200,0.3);
			width: 1100px;
			height: 540px;
			margin: 0px auto;
			padding: 10px;
		}
		
		header nav ul {
			list-style-type: none;
			background-color: rgba(255,255,200,0.3);
		    margin: 0px;
		    padding: 0;
		    overflow: hidden;
		}
		
		#content {
			
		}
		
		nav li {
	    float: left;
		}
		
		nav li a {
		display: block;
	    color: black;
	    text-align: center;
	    padding: 14px 16px;
	    font-weight: bold;
	    text-decoration: none;
		}
		
		main{
			border: 1px black solid;
			background-color: rgba(200,200,255,0.3);
			width: 678px;
			height: 334.1px;
			float: left;
			padding: 10px;
		}
		
		aside{
			border: 1px black solid;
			background-color: rgba(200,255,200,0.3);
			float: right;
			width: 378px;
			height: 334.1px;
			padding: 10px;
		}
		
		body article {
			background-color: rgba(200,200,200,0.6);
		}
		
		header {
			text-align: center;
			margin-bottom: 20px;
		}
		
		footer {
			background-color: rgba(255,255,200,0.3);
			float: left;
			width: 1100px;
			text-align: center;
		}
	